.home-searchcontainer{
    font-size: 20px;
margin-left: -300px;
}
.navbar{
    background-color: rgb(233, 209, 255);
    box-shadow: 0 4px 30px -2px gray;
    height: 60px;
    margin-bottom: 20px;
}
.home-searchcontainer input{
    padding: 4px;
    border-radius: 20px;
    width: 70%;
    outline: none;
    border: 2px solid rgb(86, 199, 210);
}
.nav-item a{
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: blueviolet;
    padding: 7px;
margin-left: 20px;
border-radius: 20px;
}
.nav-item a:hover{
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: 0.3s;
    background-color: #ff4876;
    border-radius: 5px;
    padding: 3px;

}
.home-card{
    width: 270px;
    border-radius: 15px;
    color:white;
    background-color: #ff4876;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.home-card img{
  height: 190px;
  width: 190px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
   margin-left: 40px;
   margin-top: 5px;
}
.home-card .btn{
    height: 50px;
    width: 240px;
    font-size: 13px;
    padding: 7px;
    text-align: center;
   

}
.home-card .btn{
background-color: rgb(124, 0, 201);
}
.home-card .btn:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 40px 4px;
    background-color: rgb(0, 201, 60);
}
.home-card p{
    font-size: 13px;
    color: white;
}
.docter-card-container{
  margin-left: 100px;
}
.f-social-links{
    font-size: 30px;
    
}
.f-social-links i{
    margin: 10px;
}
